.timeline {
    padding: 0;
}
.timeline li {
    list-style: none;
}
.future.first::before {
    background-color: hsl(240, 100%, 20%);
    color: #fff;
    content: "NOW";
    display: block;
}
.timeline li,
.future.first::before {
    margin: 2em 0;
}

section {
    background-color: hsl(240, 10%, 80%);
    color: #5a5a5a;
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
section h1,
section span {
    flex-wrap: wrap;
    margin: 0;
    min-width: 33.33%;
    text-align: center;
}
.future section {
    background-color: hsl(240, 60%, 80%);
    color: hsl(240, 100%, 10%);
}