.timeline {
    padding: 0;
}
.timeline li {
    list-style: none;
}
.future.first::before {
    background-color: hsl(240, 100%, 20%);
    color: #fff;
    content: "NOW";
    display: block;
    padding: 0.5em 0;
}
.timeline li,
.future.first::before {
    margin: 2em 0;
}

section {
    background-color: hsl(240, 10%, 80%);
    color: #5a5a5a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}
section h1,
section span {
    flex-grow: 1;
    margin: 0;
    text-align: center;
}
section h1 {
    max-width: 33%;
}
section span {
    min-width: 100px;
    min-width: 0.2vmin;
}
.future section {
    background-color: hsl(240, 60%, 80%);
    color: hsl(240, 100%, 10%);
}
section p {
    border-top: 1px solid hsl(240, 10%, 80%);
    flex-grow: 3;
    min-width: 100%;
    padding-top: 1em;
}